<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <bean id="connect" class="DAO.Connect" scope="singleton">
        <constructor-arg name="url" value="localhost"/>
        <constructor-arg name="databasename" value="restaurant"/>
        <constructor-arg name="username" value="root"/>
        <constructor-arg name="password" value=""/>
    </bean>
</beans>